*{margin: 0; padding: 0;}
header
{
      width: 100%;
      overflow: hidden;
      background: #708090;
      margin-bottom: 20px;
      opacity: 80%;
}
.wrapper
{
      width: 90%;
      max-width: 1200px;
      margin-left: 30px;
      overflow: hidden;
}
.fondo
{
      color: #F2F2F2;
      font-size: 50px;
      line-height: 200px;
      float: left;
}
nav a{
      text-decoration:none;
      color:inherit;
      font-size:20px;
      font-family: Arial;
      color: #000;
      }
            
nav li{
      display:inline-block;
      width:150px;
      height:30px;
      padding:5px 10px;
      background-color:#708090;
      border:1px solid #708090;
      text-align:center;
      color:#fff;
      position:relative;
      border-radius: 10px;
}
            
nav li:hover{
      background-color:#fff;
      color:#000;
      }
            
nav li>ul{
      display:none;
      }

nav li:hover>ul{
      display:block;
      position:absolute;
      top:30px;
      left:0px;
}
nav{
      margin-left: 120px;
      margin-top: 80px;
      margin-bottom: -80px;

}
.s1{
      margin-left: 150px;

}
.logo2{
      width: 300px;
      height: 300px;
      margin-top: -310px;
      margin-bottom: 25%;
      margin-left:-15PX; 
      position: absolute;
}
      nav{
            height: 230px;
      }
body{
      background-size: 100% 100%;
      background-attachment: fixed;
}

      .servi{
      background-color: #778899;
      text-align: center;
      height: 80px;
      width: 1000px;
      padding-top: 30px;
      margin-left: 180px;
      border-radius: 20px;
}
.sec1{
      height: 350px;
      border-radius: 20px;
      position: absolute;
      float: left;
      padding-top: 10px;
      padding-left: 10px;
      padding-bottom: 10px;
    
}
.foco{
      height: 350px;
      border-radius: 20px;
      height: 150px;
      margin-left: 660px;
      margin-top: 50px;
}
.p1{
      position: absolute;
      float: left;
      font-family: Arial;
      font-size: 20px;
      text-align: center;     
      margin-left: 630px;
      margin-top: 50px;

}
.sof{
      background-color: #778899;
      border-radius: 20px;
      margin-top: 50px;
      margin-left: 180px;
      margin-right: 180px;
      height: 370px;

}
.sec2{
      height: 350px;
      width:  473px;
      border-radius: 20px;
      position: absolute;
      float: left;
      padding-top: 10px;
      padding-left: 10px;
      padding-bottom: 10px;
    
}
.herramienta{
      height: 350px;
      border-radius: 20px;
      height: 150px;
      margin-left: 660px;
      margin-top: 50px;
}
.p2{
      position: absolute;
      float: left;
      font-family: Arial;
      font-size: 20px;
      text-align: center;     
      margin-left: 590px;
      margin-top: 50px;

}
.ap{
      background-color: #778899;
      border-radius: 20px;
      margin-top: 50px;
      margin-left: 180px;
      margin-right: 180px;
      height: 370px;

}
.sec3{
      height: 350px;
      border-radius: 20px;
      position: absolute;
      float: left;
      padding-top: 10px;
      padding-left: 10px;
      padding-bottom: 10px;
      width:  473px;
    
}
.celular{
      height: 350px;
      border-radius: 20px;
      height: 150px;
      margin-left: 660px;
      margin-top: 50px;
}
.p3{
      position: absolute;
      float: left;
      font-family: Arial;
      font-size: 20px;
      text-align: center;     
      margin-left: 590px;
      margin-top: 50px;

}
.con{
      background-color: #778899;
      border-radius: 20px;
      margin-top: 50px;
      margin-left: 180px;
      margin-right: 180px;
      height: 370px;

}
footer{
      background-color: #708090;
      margin-top: 150px;
      opacity: 90%;
      height: 300px;
}
.ubicacionimg {
      width: 110px;
 padding-left: 500px;


}
.horario {
 width: 80px;
 padding-left: 15px;
}
.telefono{
       width: 70px;
       padding-left: 20px;
}
.infor{
      text-align: center;
      font-family: Arial;
      font-size: 22px;
      padding-top: 10px;
}
 .ubi{      color: BLACK;
            text-align: center;
            font-family: Arial;
            position: absolute;
            float: left;
            margin-left: -350px;
            padding-top: 90px;
      }
      .hora{
            text-align: center;
            font-family: Arial;
            padding-top: 10px;
      }
      .tel{
            text-align: center;
            font-family: Arial;
            padding-top: 10px;
            padding-left:360px;
            color: BLACK;
            display: block;
            margin-top: -100px;

            
      }
      .cel{
            text-align: center;
            font-family: Arial;
            padding-left:360px;
            color: BLACK;
            display: block;
      }
      .ancla{
            color: BLACK;
      }

