*{margin: 0; padding: 0;}
header
{
      width: 100%;
      overflow: hidden;
      background: #708090;
      margin-bottom: 20px;
      opacity: 80%;
}
.wrapper
{
      width: 90%;
      max-width: 1200px;
      margin-left: 30px;
      overflow: hidden;
}
.fondo
{
      color: #F2F2F2;
      font-size: 50px;
      line-height: 200px;
      float: left;
}
nav a{
      text-decoration:none;
      color:inherit;
      font-size:20px;
      font-family: Arial;
      color: #000;
      }
            
nav li{
      display:inline-block;
      width:150px;
      height:30px;
      padding:5px 10px;
      background-color:#708090;
      border:1px solid #708090;
      text-align:center;
      color:#fff;
      position:relative;
      border-radius: 10px;
}
            
nav li:hover{
      background-color:#fff;
      color:#000;
      }
            
nav li>ul{
      display:none;
      }

nav li:hover>ul{
      display:block;
      position:absolute;
      top:30px;
      left:0px;
}
nav{
      margin-left: 120px;
      margin-top: 80px;
      margin-bottom: -80px;

}
.s1{
      margin-left: 150px;

}
.noso{
      background-color: #778899;
      text-align: center;
      height: 80px;
      width: 1000px;
      padding-top: 30px;
      margin-left: 180px;
      border-radius: 20px;
}

       
.logo2{
      width: 300px;
      height: 300px;
      margin-top: -310px;
      margin-bottom: 25%;
      margin-left:-15PX; 
      position: absolute;
}
nav{
            height: 230px;
}
body{
      background-size: 100% 100%;
      background-attachment: fixed;
}
.seccion1{
  background-color: transparent;

  padding: 4%;
  border-radius: 1vw;
  margin-top: -5%;
  
 /* -webkit-box-shadow: 0px 4px 21px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 4px 21px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 4px 21px 1px rgba(0,0,0,0.75);*/
}

form {
    width: 40vw;
    margin:auto;
    background-color:#708090;
    padding: 1vw 2vw;
    box-sizing: border-box;
    margin-top: 2vw;
    border-radius: 1vw;
    opacity: .85;
}


input, textarea {
    width: 100%;
    margin-bottom: 2.5vw;
    padding: 1vw;
    box-sizing: border-box;
    font-size: 1vw;
    border: none;
}

textarea {
    min-height: 10vw;
    max-height: 40vw;
    max-width: 100%;
    min-width: 100%;
}

#boton{
    background: BLACK;
    color: white;
    padding: 1vw;
}

#boton:hover {
    cursor: pointer;
}
footer{
      background-color: #708090;
      margin-top: 30px;
      opacity: 90%;
      height: 300px;
}
.ubicacionimg {
      width: 110px;
 padding-left: 500px;


}
.horario {
 width: 80px;
 padding-left: 15px;
}
.telefono{
       width: 70px;
       padding-left: 20px;
}
.infor{
      text-align: center;
      font-family: Arial;
      font-size: 22px;
      padding-top: 10px;
}
 .ubi{      color: BLACK;
            text-align: center;
            font-family: Arial;
            position: absolute;
            float: left;
            margin-left: -350px;
            padding-top: 90px;
      }
      .hora{
            text-align: center;
            font-family: Arial;
            padding-top: 10px;
      }
      .tel{
            text-align: center;
            font-family: Arial;
            padding-top: 10px;
            padding-left:360px;
            color: BLACK;
            display: block;
            margin-top: -100px;

            
      }
      .cel{
            text-align: center;
            font-family: Arial;
            padding-left:360px;
            color: BLACK;
            display: block;
      }
      .ancla{
            color: BLACK;
      }
      audio{
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-top: 30px;
      }
      video{
        height: 500px;
        margin-left: auto;
        margin-right: auto;
        display: block;
      }